<p>throne-games works!</p>

<!-- <button mat-button (click)="add()" >Perform Add</button> -->

<!-- <div fxLayout="row wrap">
    <div *ngFor="let quote of quotes.results" class="w-96 border-2 m-4 p-4">
        <div>Movie Name: <strong>{{quote.title}}</strong></div>
        <div>{{quote.overview}}</div>
    </div>
</div> -->
<!-- 
<mat-paginator [length]="upcomingMovies.total_results" [pageSizeOptions]="[20]" (page)="onPageChange($event)">
</mat-paginator> -->

<!-- https://image.tmdb.org/t/p/w342/mXLOHHc1Zeuwsl4xYKjKh2280oL.jpg -->